#about {
  background-image: url(../img/banner-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  position: relative;
  z-index: -1;
  @extend %sectionPad;

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
  }

  &::before {
    @include beforeAfter;
    @include gradient($primary, $primary-d, 0.85, 0.65);
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  .about {
    z-index: 100;

    &__content {
      @include respond(phone) {
        padding: 0 4rem;
      }

      @include respond(tab-port) {
        padding: 6rem;
      }

      @include respond(tab-land) {
        padding: 10rem;
      }
      h2 {
        text-align: center;
        font-size: 4.5rem;
        margin: 1rem;
        color: $grey-1;
        letter-spacing: 0.4rem;
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
      }
      p {
        text-align: center;
        font-size: 2rem;
        line-height: 1.8;
        margin: 1em;
        color: $grey-1;
        text-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
      }
    }
  }
}
