// CARDS
.card-opened {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transition: all 0.25s 0.25s;

  .active {
    //@extend %sectionPad;
    display: table;
    background-color: #fff;
    width: 90vw;
    height: max-content;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    @include boxShadow(xsmall);

    @include respond(tab-land) {
      width: 70vw;
    }

    @include respond(popup) {
      width: 65vw;
    }
  }
  .cards {
    display: none;
  }

  #card-1 {
    .card-opened__img-1 {
      background-image: url(../../img/nieruchomości/mogilska70/20190828_125527.jpg);
    }
    .card-opened__img-2 {
      background-image: url(../img/banner-1.jpg);
    }
  }

  &__top {
    &-images {
      display: flex;
      > div {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 25rem;
        @include boxShadow(small);
        position: relative;
      }
    }

    .close {
      a {
        text-decoration: none;
        color: $primary;
        font-size: 2rem;
        font-weight: bold;
        display: block;
        text-align: right;
        margin: 1rem;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        text-shadow: 0 1rem 1rem rgba(#fff, 0.3);
        background-color: #fff;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;

        i {
          transform: translate(5%, -8%);
        }
      }
    }
  }

  h4 {
    text-align: center;
    font-size: 2rem;
    color: $secondary;
    text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
    position: relative;

    span {
      display: inline-block;
      height: 100%;
      background-color: $secondary;
      padding: 0.2em;
      margin: 0.2em;
      color: #fff;
      right: 0;
      bottom: 0;
      z-index: -10;
      letter-spacing: 0.08rem;

      @include boxShadow(small);
    }
  }

  &__content {
    margin: 1.5rem 0.5rem;
    font-size: 1.3rem;
    color: $secondary;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      margin: 1.5rem 2rem;
      font-size: 1.6rem;
    }

    @include respond(tab-land) {
      font-size: 1.8rem;
    }

    .details {
      margin-top: 1.5rem;

      ul {
        li {
          padding: 0.6rem;

          &::before {
            content: '\2022';
            color: $primary;
            display: inline-block;
            width: 1em;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    > div {
      width: 10rem;
      height: 7rem;
      margin: 0.3rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include boxShadow(xsmall);
      position: relative;

      @include respond(tab-port) {
        width: 12rem;
        height: 9rem;
        margin: 0.5rem;
      }
      @include respond(tab-land) {
        width: 15rem;
        height: 12rem;
        margin: 0.75rem;
      }
    }
    &-img-1 {
      background-image: url(../../img/nieruchomości/mogilska70/20190828_125527.jpg);
    }
  }
}
