#team {
  @extend %sectionPad;
  .team {
    h4 {
      text-align: center;
      font-size: 2.4rem;
      color: $secondary;
      text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
      margin: 3rem;
      position: relative;

      &.slider__title {
        margin: 4rem;
      }

      span {
        display: inline-block;
        height: 100%;
        background-color: $secondary;
        padding: 0.2em;
        margin: 0.2em;
        color: #fff;
        right: 0;
        bottom: 0;
        z-index: -10;
        letter-spacing: 0.07rem;

        @include boxShadow(xsmall);
      }
    }
    @include respond(tab-port) {
      margin-top: 6rem;
    }
    &__members {
      div[class*='team__members-'] {
        padding-bottom: 5rem;
      }

      &-top {
        display: flex;
        flex-direction: column;
        > div {
          margin: 0 auto;
          @include respond(tab-land) {
            max-width: 50%;
          }
        }

        @include respond(tab-land) {
          flex-direction: row;
        }
      }
      &-bottom {
        display: flex;
        flex-direction: column;
        > div {
          margin: 0 auto;
          @include respond(tab-land) {
            max-width: calc(100% / 3);
          }
        }

        @include respond(tab-land) {
          flex-direction: row;
        }
      }

      @include respond(tab-land) {
        display: flex;
        flex-direction: column;
      }

      .img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 3px solid $primary;
        overflow: hidden;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include boxShadow(xsmall);
      }

      .img#team_img-1 {
        background-image: url(../../build/img/team/kkoziol.webp);
      }

      .img#team_img-2 {
        background-image: url(../../build/img/team/wurbanczyk.webp);
      }

      .img#team_img-3 {
        background-image: url(../../build/img/team/mkubiela.webp);
      }

      .img#team_img-4 {
        background-image: url(../../build/img/team/sjakubik.webp);
      }

      .img#team_img-5 {
        background-image: url(../../build/img/team/dmuzyk.webp);
      }

      .copy {
        text-align: center;
        padding: 1.5rem;
        line-height: 1.6;

        @include respond(phone) {
          padding: 5rem;
          line-height: 1.8;
        }

        @include respond(tab-port) {
          padding: 8rem;
        }

        h5 {
          font-size: 2.2rem;
          background-color: $secondary;
          color: #fff;
          width: max-content;
          margin: 0 auto;
          padding: 0.6rem 1.2rem;
          @include boxShadow(xsmall);
        }

        p {
          margin-top: 1.5em;
          font-size: 1.8rem;
          color: $secondary;

          .ssi {
            // background-color: $primary;
            color: $primary;
            padding: 0.5rem;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
