#team {
  @extend %sectionPad;
  .team {
    @include respond(tab-port) {
      margin-top: 6rem;
    }
    &__members {
      div[class*='team__members-'] {
        padding-bottom: 5rem;
      }

      @include respond(tab-land) {
        display: flex;
      }

      .img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 3px solid $primary;
        overflow: hidden;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include boxShadow(xsmall);
      }

      .img#img-1 {
        background-image: url(../../img/team/001.jpg);
      }

      .img#img-2 {
        background-image: url(../../img/team/002.jpg);
      }

      .copy {
        text-align: center;
        padding: 1.5rem;
        line-height: 1.6;

        @include respond(phone) {
          padding: 5rem;
          line-height: 1.8;
        }

        @include respond(tab-port) {
          padding: 8rem;
        }

        h5 {
          font-size: 2.2rem;
          background-color: $secondary;
          color: #fff;
          width: max-content;
          margin: 0 auto;
          padding: 0.6rem 1.2rem;
          @include boxShadow(xsmall);
        }

        p {
          margin-top: 1.5em;
          font-size: 1.8rem;
          color: $secondary;

          .ssi {
            // background-color: $primary;
            color: $primary;
            padding: 0.5rem;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
